div.todo-item {
  padding: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.7s;
}
div.todo-item:hover {
  background-color: thistle;
}

div.delete-item {
  margin-right: 1rem;
  color: red;
  font-weight: 600;
  opacity: 0;
}
/* hover를 하면 그 뒤에 div.delete-item이 반응하도록 만드는 것
    
*/
div.todo-item:hover div.delete-item {
  opacity: 1;
}

div.checked {
  text-decoration: line-through;
  color: crimson;
}
/* 
  word-break 
  
  break-all:문자열이 영문일 경우 어떻게 줄바꿈을 할래?
    한글일 경우는 한글자 단위로 줄바꿈을 해도 좋다

  keep-all
  한글일 경우 단어(공백) 단위로 줄바꿈을 해라

*/
div.todo-text {
  flex: 1;
  word-break: break-all;
  text-align: left;
}
div.check-mark {
  font-size: 1.5rem;
  line-height: 1rem;
  margin-left: 1rem;
  color: red;
  font-weight: 800;
}
